*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: grey;
    padding: 1rem 0px ;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 25px;
}
li{
   list-style: none;
}
.row{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
    justify-content: space-between;
}
.w-80{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: #3F1919;
    font-size: 1rem;
    font-family: "Geom", sans-serif;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
header button{
    background-color: #3F1919;
    color: white;
    font-family: "Geom", sans-serif;
    padding: 6px 18px;
    border-radius: 10px;
}
#hero-section{
    background-color: #3F1919;
    color: white;
    font-family: "Geom", sans-serif;
    padding: 86px 0px;
}
.center{text-align: center;
}
#hero-section p,h1{
    margin-bottom: 20px;
    font-family: "Dancing Script";
}
#hero-section button{
    background-color: #E26464;
    font-family: "Geom", sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    padding: 14px 28px;
    color: white;
}
#grid-card{
    background-color: grey;
     padding: 86px 0px;

}
.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    width: 250px;
    height: auto;
    background-color: #3F1919;
    font-family: "Bebas Neue", sans-serif;
    color: #FFFDFD;
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    border-radius: 20px;
}
.author{
text-align: right;
}
footer{
    background-color: #3F1919;
    color: #3F1919;
    font-family: "Geom", sans-serif;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    background-color: #D9D9D9;
    padding: 30px 10px;
}
.footer-row div{
    width: 175px;
}
.footer-row div h3{
    margin-bottom: 23px;
}

.newsletter{
    display: flex;
}
.newsletter button{
    padding: 8px 4px;
    background-color: #E26464;
    color: #D9D9D9;
}
.newsletter input{
     padding: 8px 4px;
}
.newsletter{
background-color: #E26464;
}
.Copyright{
    background-color: #E26464;
    padding: 20px;
    color: #D9D9D9;
    font-family: "Geom", sans-serif;
}
.Copyright a{
    color: #D9D9D9;
}

